NEXT_PUBLIC_MONGODB_URI =
NEXT_PUBLIC_JWT_TOKEN =
NEXT_PUBLIC_EMAIL_SERVICE = gmail
# email address
NEXT_PUBLIC_EMAIL =
# since this project utilises nodemailer use app password found inside google account
NEXT_PUBLIC_EMAIL_PASSWORD =
# use website public domain in production or localhost in dev
NEXT_PUBLIC_DOMAIN = http:/localhost:3000